</main>
        <link rel="stylesheet" href="/styles/main.css">
        <nav>
            <div class="navheader">
                <a class="nav-link" href="/" style="font-weight: bolder;">
                    <img class="iconHeader" src="/svgs/icon1.svg" alt="icon calender"> 
                    Today</a>

                <a class="nav-link" href="/work" style="font-weight: bolder;" > 
                    <img class="iconHeaderWL" src="/svgs/icon2.svg" alt="list icon"> Work</a>
            </div>
        </nav>
</html>