<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="topList">
        <h1 class="topHeader">Work List</h1>
      </div>
      <div class="todaysList">
        <% if (locals.newWorkItems) { %> <% for (var j = 0 ; j<
        newWorkItems.length; j++) { %>
        <div class="item">
          <input type="checkbox" name="todayCheckBox" class="checkbox" />
          <p class="newListAdded"><%= newWorkItems[j] %></p>
        </div>
        <% } %>
        <form action="/work" method="post">
          <input
            type="text"
            class="newInputItem"
            name="newItem"
            placeholder="New Item"
            autocomplete="off"
            required
          />
          <button type="submit" class="addItemButton">+</button>
        </form>
        <% } %>
      </div>
    </div>
  </body>
</html>

<%- include('partials/footer.ejs') %>
